{%extends "base.html"%}

{%block title%}
  Admin Home
{%endblock%}

{%block body%}
	<!-- <h1>Welcome {{ user }}!</h1>
	<p><a href="/add/">Add</a></p>
	<p><a href="/remove/">Remove</a></p>
	<p><a href="/modifyChoose/">Modify Course</a></p> -->

  <ul class="nav nav-pills">
    <li class="active"><a href="#mod" data-toggle="tab">Modify Courses</a></li>
    <li><a href="#rmv" data-toggle="tab">Remove Students</a></li>
    <li><a href="#add" data-toggle="tab">Add Students</a></li>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="add">
          <br><br><br>
          <h4>Upload Student Transcript</h4>
          <form action="/testForm/" method="POST" enctype="multipart/form-data">
            <input type="file" name="upload"/>
            <input type="submit" class="btn btn-info" value="Upload"/>
          </form>
        </div>

        <div class="tab-pane fade" id="rmv">
          <br><br><br>
          <p>Remove code to be added</p>
        </div>

        <div class="tab-pane fade" id="mod">
          <br><br><br>
          {%for course in courses%}

            <!--modify opens new html page w/variable path-->
            <p><a href="/mod/{{course}}/">{{course}}</a></p>

          {%endfor%}

          {% set counter = 1 %}
          {% set phrase = "collapse" %}

          {% for dept in depts%}
          <div class="container">
            <h2>{{dept}}</h2>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#{{ "collapse" ~ depts.index(dept) }}">Click to reveal</a>
                  </h4>
                </div>
                <div id="{{ "collapse" ~ depts.index(dept) }}" class="panel-collapse collapse">
                  <div class="panel-body">courses</div>
                  <div class="panel-footer">Panel Footer</div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
    </div>
  </ul>
{%endblock%}
