{%extends "base.html"%}

{%block title%}
  Admin Home
{%endblock%}

{%block body%}

  {%if problems%}
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Warning!</h4>
      <p>Some classes haven't been sorted into departments! <a href="/categorize/">You can fix that here!</a></p>
    </div>
  {%endif%}
  {%if success%}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{success}}
  </div>
  {%endif%}
  <ul class="nav nav-pills">
    <li class="active"><a href="#mod" data-toggle="tab">Modify Courses</a></li>
    <li><a href="#rmv" data-toggle="tab">Remove Students</a></li>
    <li><a href="#add" data-toggle="tab">Add</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="add">
        <br><br><br>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="alert alert-dismissible alert-danger col-md-8" id="error">
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 text-center">
            <div class='well form-horizontal'>
              <p><form action="/testForm/" method="POST" enctype="multipart/form-data" id="transcript-form">
                <fieldset>
                  <legend>Upload Student Transcript</legend>
                  <center><input type="file" name="f" id="transcript-file"/></center>
                </fieldset>
                <p class="btn btn-info" value="Upload" id="transcript-upload">Upload</p>
              </form></p>
            </div>
            <div class='well form-horizontal'>
              <p><form name="course-form" method="POST" enctype="multipart/form-data" id="course-form">
                <fieldset>
                  <legend>Upload Course List</legend>
                  <center><input type="file" name="f" id="course-file"/></center>
                </fieldset>
              </form><p class="btn btn-info" id="course-upload"/>Upload</p></p>
            </div>
            <br>
            <p><div class="well form-horizontal">
              <fieldset>
                <legend>Add Admin</legend>
                <p><input type="text" name="email" id='email1' placeholder="E-mail"></p>
                <p><input type="text" name="checkEmail" id='email2' placeholder="Reenter E-mail"></p>
                <p><input type="password" name="pass" id='pass1' placeholder="Password"></p>
                <p><input type="password" name="checkpass" id='pass2' placeholder="Reenter Password"></p>
                <input type="submit" class="btn btn-info" value="Add" id="but"/>
              </fieldset>
            </div></p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
      <script>

      var error, courseUpload, courseForm, transcriptForm, fd;

      window.onload = function(){

        error = document.getElementById('error');
        error.style.display = 'none';

        courseUpload = document.getElementById('course-upload');

        document.getElementById('but').addEventListener('click',validation);
        courseUpload.addEventListener('click',validateCourses);
        document.getElementById('student-upload').addEventListener('click',validateTranscript);
      }

      var validation = function(){
        $.ajax({
            url: '/checkMatch/',
            type: 'POST',
            data: {'email1':document.getElementById('email1').value, 'email2':document.getElementById('email2').value,'pass1':document.getElementById('pass1').value,'pass2':document.getElementById('pass2').value},
            success: function(data){
                if (data){
                  error.style.display = 'block';
                  error.innerHTML = data;
                }
                else{
                  window.location = '/';
                }
            }
          });
        }

      var validateCourses = function(){
        if (document.getElementById('course-file').value != ""){
          courseForm = document.getElementById('course-form');
          //console.log(courseForm);
          fd = new FormData(courseForm);
          //console.log(fd.entries());
          //console.log(formdata);
          $.ajax({
              url: '/validateCSV/',
              type: 'POST',
              data: fd,
              contentType: false,
              processData: false,
              success: function(data){
                console.log(data);
                  if (data){
                    error.style.display = 'block';
                    error.innerHTML = data;
                  }
                  else{
                    window.location = '/';
                  }
              }

          });
        }
        else{
          error.style.display = 'block';
          error.innerHTML = "No file uploaded."
        }
      }

      var validateTranscript = function(){
        if (document.getElementById('transcript-file').value != ""){
          transcriptForm = document.getElementById('transcript-form');
          //console.log(courseForm);
          fd = new FormData(transcriptForm);
          //console.log(fd.entries());
          //console.log(formdata);
          $.ajax({
              url: '/validateTranscript/',
              type: 'POST',
              data: fd,
              contentType: false,
              processData: false,
              success: function(data){
                console.log(data);
                  if (data){
                    error.style.display = 'block';
                    error.innerHTML = data;
                  }
                  else{
                    window.location = '/';
                  }
              }

          });
        }
        else{
          error.style.display = 'block';
          error.innerHTML = "No file uploaded."
        }
      }

      </script>

        <div class="tab-pane fade" id="rmv">
          <br><br><br>
          <div class="row">

            <div class="col-md-6">
              <div class="jumbotron" id="course_button">
                <h3>Remove Courses</h3>
              </div>
              <div id="course">
                <form action="/rm_courses/" method="POST" class="form-horizontal">
                  {%for course in courses%}
                  <!--pass course name into remove function-->
                  <p><input type="checkbox" name="course" value ="{{course}}">{{course}}</p>

                  {%endfor%}
                </form>
                <p><input type="submit" value="Submit" class="btn btn-info"></p>
              </div>
            </div>

            <!-- remove a cohort -->
            <div class="col-md-6">
              <div class="jumbotron" id="cohort_button">
                <h3>Remove a Cohort</h3>
              </div>
              <div id="cohort">
                <form action="/rm_cohort/" method="POST" class="form-horizontal">
                  <p><select name="cohort">
                    {%for cohort in cohorts%}
                      <option value="{{cohort}}">{{cohort}}</option>
                    {%endfor%}
                  </select></p>
                  <p><input type="submit" value="Submit" class="btn btn-info"></p>
                </form>
              </div>
            </div>
          </div>

          <script>

            var course_button = document.getElementById('course_button');
            var cohort_button = document.getElementById('cohort_button');

            var course = document.getElementById('course');
            var cohort = document.getElementById('cohort');

            var course_shown = false;
            var cohort_shown = false;

            course.style.display = 'none';
            cohort.style.display = 'none';

            var display_course = function(){
              if (course_shown){
                course.style.display = 'none';
                course_shown = false;
              }

              else{
                course.style.display = 'block';
                course_shown = true;
              }
            }

            var display_cohort = function(){
              if (cohort_shown){
                cohort.style.display = 'none';
                cohort_shown = false;
              }

              else{
                cohort.style.display = 'block';
                cohort_shown = true;
              }
            }

            course_button.addEventListener('click',display_course);
            cohort_button.addEventListener('click',display_cohort);

          </script>
        </div>

        <div class="tab-pane fade active in" id="mod">
          <br><br><br>
          <!-- {%for course in courses%}


            <p><a href="/mod/{{course}}/">{{course}}</a></p>

          {%endfor%} -->


          {% for dept in depts%}
          <div class="container">
            <h2>{{dept}}</h2>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#{{ "collapse" ~ depts.index(dept) }}">Click to reveal</a>
                  </h4>
                </div>
                <div id="{{ "collapse" ~ depts.index(dept) }}" class="panel-collapse collapse">
                  <div class="panel-body">{% for crs in courses %}
                      {% if myfxn(crs)["department"] == dept %}
                        <p><a href="/mod/{{crs}}/">{{myfxn(crs)['name']}} ({{crs}})</a></p>

                      {% endif %}
                      {% endfor %}
                  </div>
                  <div class="panel-footer">Panel Footer</div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      <div class="tab-pane fade" id="settings">
        <br><br><br>
        <div class="jumbotron">
            <h2>Settings</h2>
        </div>
        <div class="row text-center">
          <form action="/settings/" method="POST">
            <fieldset>
              <div class="col-md-3">
                <input type="submit" name="export" class="btn btn-large btn-info" value="Export Information"/>
              </div>
              <div class="col-md-3">
                {%if on%}
                <input type="submit" name="shut_down" class="btn btn-large btn-info" value="Shut Down Website"/>
                {%else%}
                <input type="submit" name="turn_on" class="btn btn-large btn-info" value="Turn On Website"/>
                {%endif%}
              </div>
              <div class="col-md-3">
                <input type="submit" name="clear_db" class="btn btn-large btn-info" value="Reset Database"/>
              </div>
              <div class="col-md-3">
                <input type="submit" name="clear_students" class="btn btn-large btn-info" value="Clear Student Information"/>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </ul>
{%endblock%}
