{%extends "base.html"%}

{%block title%}
  Admin Home
{%endblock%}

{%block body%}

  {%if problems%}
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Warning!</h4>
      <p>Some classes haven't been sorted into departments! <a href="/categorize/" style="color:inherit; text-decoration: none;"><b>You can fix that here!</b></a></p>
    </div>
  {%endif%}

  {%if success%}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{success}}
  </div>
  {%endif%}
  <ul class="nav nav-pills">
    <li class="active"><a href="#mod" data-toggle="tab">Modify Courses</a></li>
    <li><a href="#rmv" data-toggle="tab">Remove Students</a></li>
    <li><a href="#add" data-toggle="tab">Add</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="add">
        <br><br><br>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="alert alert-dismissible alert-danger col-md-8" id="error">
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 text-center">
            <p><form  method="POST" enctype="multipart/form-data" class='well form-horizontal' id="transcript-form">
              <fieldset>
                <legend>Upload Student Transcript</legend>
                <center><input type="file" name="f" accept=".csv" id="transcript-file"/></center>
                <p class="btn btn-info" id="student-upload">Upload</p>
              </fieldset>
            </form></p>
            <p><fieldset><form method="POST" enctype="multipart/form-data" class='well form-horizontal' id="course-form">
              <legend>Upload Course List</legend>
              <center><input type="file" name="f" id="course-file"/></center>
              <p class="btn btn-info" id="course-upload">Upload</p>
            </fieldset>
          </form></p>
            <p><div class="well form-horizontal">
              <fieldset>
                <legend>Add Admin</legend>
                <form action="/adddeptadmin/" method="POST">
                  <p>Email: <input type="text" name="email" id='email1' placeholder="E-mail"></p>
                  <p>Confirm Email: <input type="text" name="checkEmail" id='email2' placeholder="Reenter E-mail"></p>
                  <p class="btn btn-info" id="but" onsubmit="return confirm('Are you sure that you want to add this administrator?');">Add</p>
                </form>
              </fieldset>
            </div></p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>

        <div class="tab-pane fade" id="rmv">
          <br><br><br>
          <div class="row">

            <div class="col-md-6">
              <div class="jumbotron" id="course_button">
                <h3>Remove Courses</h3>
              </div>
              <div id="course">
                <form action="/rm_courses/" method="POST" class="form-horizontal"  onsubmit="return confirm('Are you sure that you want to remove this course? This action cannot be undone.');">
                  {%for course in courses%}
                  <!--pass course name into remove function-->
                  <p><input type="checkbox" name="course" value ="{{course}}">{{course}}: {{ myfxn(course)["name"] }}</p>

                  {%endfor%}
                <p><input type="submit" value="Submit" class="btn btn-info"></p>
              </form>
              </div>
            </div>

            <!-- remove a cohort -->
            <div class="col-md-6">
              <div class="jumbotron" id="cohort_button">
                <h3>Remove a Cohort</h3>
              </div>
              <div id="cohort">
                <form action="/rm_cohort/" method="POST" class="form-horizontal" onsubmit="return confirm('Are you sure that you want to delete this cohort? This action cannot be undone.');">
                  <p><select name="cohort">
                    {%for cohort in cohorts%}
                      <option value="{{cohort}}">{{cohort}}</option>
                    {%endfor%}
                  </select></p>
                  <p><input type="submit" value="Submit" class="btn btn-info" ></p>
                </form>
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade active in" id="mod">
          <br><br><br>
          <!-- {%for course in courses%}


            <p><a href="/mod/{{course}}/">{{course}}</a></p>

          {%endfor%} -->


          {% for dept in depts%}
          <div class="container">
            <h2>{{dept}}</h2>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#{{ "collapse" ~ depts.index(dept) }}">Click to reveal</a>
                  </h4>
                </div>
                <div id="{{ "collapse" ~ depts.index(dept) }}" class="panel-collapse collapse">
                  <div class="panel-body">{% for crs in courses %}
                      {% if myfxn(crs)["department"] == dept %}
                        <p><a href="/mod/{{crs}}/">{{myfxn(crs)['name']}} ({{crs}})</a></p>

                      {% endif %}
                      {% endfor %}
                  </div>
                  <div class="panel-footer"></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      <div class="tab-pane fade" id="settings">
        <br><br><br>
        <div class="jumbotron">
            <h2>Settings</h2>
        </div>
        <div class="row text-center">
          <form action="/settings/" method="POST" onsubmit="return confirm('Are you sure?');">
            <fieldset>
              <div class="col-md-3">
                <input type="submit" name="export" class="btn btn-large btn-info" value="Export Information"/>
              </div>
              <div class="col-md-3">
                {%if on%}
                <input type="submit" name="shut_down" class="btn btn-large btn-info" value="Shut Down Website" />
                {%else%}
                <input type="submit" name="turn_on" class="btn btn-large btn-info" value="Turn On Website"/>
                {%endif%}
              </div>
              <div class="col-md-3">
                <input type="submit" name="clear_db" class="btn btn-large btn-info" value="Reset Database"/>
              </div>
              <div class="col-md-3">
                <input type="submit" name="clear_students" class="btn btn-large btn-info" value="Clear Student Information"/>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </ul>

<script src="/static/admin_home.js"></script>
{%endblock%}
