<!DOCTYPE html>
<html>
  <head>
    <!-- use utf-8 chars -->
    <meta charset="utf-8">
    <!-- look pretty on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- links to bootstrap stuff -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
      <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>{% block title %} {% endblock %}</title>
  </head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Reviewed by Rick</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% if session["admin"] %}
      <form class="navbar-form navbar-left" role="search" action="/search/">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter a student OSIS" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    {%endif%}
      <ul class="nav navbar-nav navbar-right">
        {% if session["student"] or session["admin"]%}<li><a href="/logout/">Logout</a></li>
        {%else%} <li><a href="/login/">Login</a></li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>

  <center>{% block body %}{% endblock %}</center>

</body>
</html>
