<!DOCTYPE html>
<html>
  <head>
    <!-- use utf-8 chars -->
    <meta charset="utf-8">
    <!-- look pretty on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- links to bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
<body>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Reviewed by Rick</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sample Page</a></li>
          <li><a href="#">Sample Page</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% block body %}{% endblock %}

</body>
</html>
