{%extends "base.html"%}
{%block title%}
  Modify Courses
{%endblock%}

{%block body%}
<h2>{{course}}</h2>
<div class="row">
  <div class="col-md-6">
    <h3>Modify Requirements:</h3>
    <form action='/modifyCourse/' class="form-horizontal">
      <p>Name: <input type="text" name="name" value="{{course_info['name']}}"></p>
      <p>Department: <select name="dept">
        <option selected value="{{course_info['department']}}">{{course_info['department']}}</option>
        {%for d in depts%}
        <option value="{{d}}">{{d}}</option>
        {%endfor%}
      </select></p>
      <p>Minimum Overall GPA <input type="number" name="minGPA" min="0" max="100" value={{course_info['prereq_overall_average']}}></p>
      <p>Minimum Departmental Average <input type="number" name="minDept" min="0" max="100" value={{course_info['prereq_department_average']}}></p>
      <p>Cohort Requirement <input type="number" name="cohort"></p>
      <h4>Prerequisite Courses:</h4>

      {%for course in courses%}

      <input type="checkbox" name="prereq" value="{{course}}"> {{course}}<br>

      {%endfor%}

      <input type="hidden" name="course" value="{{course}}">
      <input type="submit" value="Submit" class="btn btn-info">
    </form>
  </div>
  <div class="col-md-6">
    <h3>Current Prerequisite Requirements:</h3>
    <p>
      Prerequisites: <br/><ol>
        {%for data in course_info["prereq_courses"]%}
          <li>{{data}}</li>
        {%endfor%}</ol>
      <br/>
      Needed Overall Average: {{course_info["prereq_overall_average"]}}<br/>
      Needed Department Average: {{course_info["prereq_department_average"]}}<br/>
    </p>
  </div>
</div>

{%endblock%}
