{%extends "base.html"%}
{%block title%}
  Modify Courses
{%endblock%}

{%block body%}
{{course}}

<form action='/modifyCourse/'>
  Name: <input type="text" name="name" value="{{course_info['name']}}"><br>
  Department: <select name="dept">
    <option selected value="{{course_info['department']}}">{{course_info['department']}}</option>
    {%for d in depts%}
      <option value="{{d}}">{{d}}</option>
    {%endfor%}
      </select><br>
  Minimum Overall GPA <input type="number" name="minGPA" min="0" max="100" value={{course_info['prereq_overall_average']}}><br>
  Minimum Departmental Average <input type="number" name="minDept" min="0" max="100" value={{course_info['prereq_department_average']}}><br>
  Cohort Requirement <input type="number" name="cohort"><br>
  Prerequisite Courses:<br>

    {%for course in courses%}

      <input type="checkbox" name="prereq" value="{{course}}"> {{course}}<br>

    {%endfor%}

  <input type="hidden" name="course" value="{{course}}">
  <input type="submit" value="Submit">
</form>

Current Prerequisite Courses:
{%for i in course_info['prereq_courses']%}
<p>{{i}}</p>
{%endfor%}


{%endblock%}
