{% extends "base.html" %}

{% block title %}
  Course Sign-Up
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Course Selections</a></li>
  <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <br><br><br>
        <!--NOTE: take APs out of list when selected-->
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Students may apply for as many Advanced Placement courses as they are eligible for, as determined by the following criteria:<br></p></h3>
              </div>
              <div class="panel-body">
                <ol>
                  <li>Any student who meets the departmental requirements for an individual Advanced Placement course will be eligible for that course regardless of the student's overall average.</li>
                  <li>Students who wish to take two Advanced Placement classes must have a MINIMUM overall average of 88%.</li>
                  <li>Students who wish to take three Advanced Placement classes must have a MINIMUM overall average of 93%.</li>
                  <li>Students who wish to take four Advanced Placement classes must have a MINIMUM overall average of 95%.</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="list-group col-md-6" id="selected">
            <p  class="list-group-item active">
              APs Currently Selected
            </p>
            {%for i in selectedCourses%}
            <p class="list-group-item"> {{i}}
            </p>
            {%endfor%}
          </a>
          <p class="btn btn-info" id="but1">Choose New APs</p>
        </div>

          <div class"col-md-6" id="options">
            <p>Please make your AP selections below. </p>
            <form action="/signup/" method="POST">
              {% for i in range(numAps) %}
                <p><select name="APS" class="ap">
                  <option disabled selected value> - * - select an option - * - </option>
                  {%for class in aps%}
                    <option value="{{class}}">{{class}}</option>
                  {%endfor%}</select></p>
              {%endfor%}
            <input class="btn btn-info" type="submit" onsubmit="return confirm('Are you sure that you want to submit these courses?');">
            <p class="btn btn-info" id="but2">Cancel</p>
            </form>
          </div>
      </div>
    </div>
</div>

<script src="/static/student_home.js"></script>


{%endblock%}
