{% extends "base.html" %}

{% block title %}
  Course Sign-Up
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Course Selections</a></li>
  <li><a href="#stats" data-toggle="tab">Your Grades</a></li>
  <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <br><br><br>
        <!--NOTE: take APs out of list when selected-->
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Students may apply for as many Advanced Placement courses as they are eligible for, as determined by the following criteria:<br></p></h3>
              </div>
              <div class="panel-body">
                <ol>
                  <li>Any student who meets the departmental requirements for an individual Advanced Placement course will be eligible for that course regardless of the student's overall average.</li>
                  <li>Students who wish to take two Advanced Placement classes must have a MINIMUM overall average of 88%.</li>
                  <li>Students who wish to take three Advanced Placement classes must have a MINIMUM overall average of 93%.</li>
                  <li>Students who wish to take four Advanced Placement classes must have a MINIMUM overall average of 95%.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-info" id="selected">
              <div class="panel-heading">
                <h3 class="panel-title">APs Currently Selected</h3>
              </div>
              <div class="panel-body">
                {%for i in selectedCourses%}
                <p> {{i}} </p>
                {%endfor%}
              </a>
              <p class="btn btn-info" id="but1">Choose New APs</p>
              </div>
            </div>

            {% if numAps == 0 %}
              <p>Sorry, you do not have any more available slots. If you think this is incorrect please email programoffice@stuy.edu</p>

            {% else %}
              <div id="options">
                <p>Please make your AP selections below. </p>
                <form action="/signup/" method="POST">
                    {% for i in range(numAps) %}
                      <p><select name="{{"APS" ~ i}}" class="ap">
                        <option disabled selected value> - * - select an option - * - </option>
                        {%for class in aps%}
                          <option value="{{class}}">{{class}}</option>
                        {%endfor%}</select></p>
                    {%endfor%}
                    <input class="btn btn-info" type="submit" onclick="return confirm('Are you sure that you want to submit these courses?');">
                    <p class="btn btn-info" id="but2">Cancel</p>
                </form>
              </div>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Department</th>
                <th>Average</th>
              </tr>
            </thead>
            <tbody>
              {%for i in myAvg%}
                <tr>
                  <td>{{i}}</td>
                  <td>{{myAvg[i]}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="tab-pane fade in" id="stats">
      <br><br><br>
      <b>Overall Average:</b> {{student["overall_average"]}}<br><br>
      Departmental Averages: <br>
        {% for item in depts %}
        &#09;<b>{{item}} Average:</b> {{ student["department_averages"][item]["average"] }}<br>
        {% endfor %}
    </div>
</div>

<script src="/static/student_home.js"></script>


{%endblock%}
