{%extends "base.html"%}

{%block title%}
Super Admin Home
{%endblock%}

{%block body%}
  {%if success%}
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 text-center">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{success}}
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  {%endif%}
  <div class="row">
      <div class="alert alert-dismissible alert-danger" id="error"></div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="well form-horizontal">
        <fieldset>
          <legend>Add Admin</legend>
          <form method="POST">
            <p>Email: <input type="text" name="email" id='email1' placeholder="E-mail"></p>
            <p>Confirm Email: <input type="text" name="checkEmail" id='email2' placeholder="Reenter E-mail"></p>
            <p class="btn btn-info" id="butt">Add</p>
          </form>
        </fieldset>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

<script src="/static/super_admin_home.js"></script>

{%endblock%}
